/* Generic
========================================================================== */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: PT Sans, sans-serif;
  color: #8d8f92; }

a {
  color: #e95e4c; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5 {
  color: #333;
  font-family: Kreon, serif; }

/* import
========================================================================== */
/* Menu responsive
   ========================================================================== */
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: left 0.3s, right 0.3s; }

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: -227px;
  width: 227px;
  transition: right 0.3s; }
  .menu-open .menu {
    right: 0; }

.menu-open {
  right: 227px;
  left: -227px; }

.container {
  margin: 0 20px; }

@media only screen and (min-width: 940px) {
  .container {
    width: 940px;
    margin: 0 auto; } }

.form-group {
  margin-bottom: 10px; }

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px; }

.form-control {
  width: 100%;
  padding: 10px;
  transition-duration: .25s;
  color: #54555A;
  border: 1px solid #D9E1E7;
  outline: none;
  background: #FBFBFB; }

.form-control:focus {
  border: 1px solid #555555;
  background: #FFFFFF;
  box-shadow: 0 0 3px #AAAAAA; }

/* === HTML5 validation styles === */
.form-control:required {
  background: #FFFFFF url(/images/red_asterisk.png) no-repeat 98% center; }

.form-control:required:valid {
  border-color: #56C93F;
  background: #FFFFFF url(/images/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5CD053; }

.form-control:focus:invalid {
  border-color: #FF5A5A;
  background: #FFFFFF url(/images/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #D45252; }

.error-message {
  color: #FF5A5A; }

.btn {
  display: block;
  padding: 7px 15px;
  text-align: center;
  cursor: pointer;
  color: inherit;
  border: solid 1px #CCCCCC;
  border-radius: 3px;
  background: #FFFFFF;
  background: linear-gradient(top, #FFFFFF, #EAEAEA); }

.menu-icon {
  margin: 25px auto; }

.menu-icon {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%; }

.menu-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #333;
  transform: translateX(-50%) translateY(-50%); }

.menu-icon span::before, .menu-icon span::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 2px;
  content: '';
  background-color: #333;
  transition: transform .5s;
  transform: translateY(-6px); }

.menu-icon span::after {
  transform: translateY(6px); }

.menu-icon:hover span::before {
  transform: translateY(-8px); }

.menu-icon:hover span::after {
  transform: translateY(8px); }

.menu-icon {
  transition: transform .5s; }

.menu-icon span::before, .menu-icon span::after {
  right: 0;
  left: auto;
  transform-origin: 100% 50%; }

.menu-icon span, .menu-icon span::after, .menu-icon span::before {
  z-index: 2;
  transition: transform .5s, width .5s; }

.menu-icon.is-opened {
  transform: rotate(180deg); }

.menu-icon.is-opened span::before {
  width: 50%;
  transform: translateY(0) rotate(45deg); }

.menu-icon.is-opened span::after {
  width: 50%;
  transform: translateY(0) rotate(-45deg); }

.works {
  margin-left: -10px;
  margin-right: -10px; }

.work {
  margin-bottom: 1.4rem; }

.work__thumb {
  display: block;
  margin-bottom: 0.5rem; }

.work__name {
  font-size: 1rem;
  font-weight: normal;
  margin: 0; }

.work__tags {
  font-size: 0.8rem;
  font-style: italic; }

.work .work-detail {
  display: none; }

@media only screen and (min-width: 768px) {
  .work {
    float: left;
    width: 25%;
    padding: 10px; } }

/* Detail
   ========================================================================== */
.work-detail {
  display: block;
  float: left;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px dashed #c9c9c9;
  border-top: 1px dashed #c9c9c9;
  height: 0px;
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: height, margin, padding, opacity; }

.work-detail.active {
  height: 450px;
  margin: 1rem 0px;
  padding-top: 1rem;
  opacity: 1; }
  .work-detail.active .work-detail__name, .work-detail.active .work-detail__tags, .work-detail.active .work-detail__content {
    opacity: 0;
    animation: slideIn 0.5s forwards;
    animation-delay: 0.3s; }
  .work-detail.active .work-detail__tags {
    animation-delay: 0.7s; }
  .work-detail.active .work-detail__content {
    animation-delay: 0.9s; }

.work-detail__slide {
  background: url(/images/browser.png);
  position: relative;
  width: 488px;
  height: 433px;
  float: left; }
  .work-detail__slide img {
    position: absolute;
    top: 54px;
    left: 14px;
    bottom: 0;
    width: 460px; }

.work-detail__body {
  overflow: hidden;
  float: left;
  padding-left: 2rem; }

.work-detail__name {
  margin: 7px 0;
  font-size: 1.5rem;
  font-weight: normal; }

.work-detail__tags {
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 7px; }

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/* Header
========================================================================== */
.header {
  padding: 20px 0px;
  overflow: hidden;
  border-bottom: 1px dashed #c9c9c9; }

.header__logo {
  float: left; }

.header__menu {
  float: right;
  text-align: right;
  height: 95px;
  line-height: 95px; }
  .header__menu a {
    color: inherit;
    text-decoration: none; }
  .header__menu a:hover, .header__menu a.active {
    color: #e95e4c; }

/* Homepage
========================================================================== */
.hero {
  overflow: hidden; }

.hero__img {
  float: left;
  max-width: 100%;
  margin-right: 2rem; }

.hero__title {
  margin: 1.5rem 0px;
  font-size: 2.6rem;
  line-height: 1.1;
  text-align: center;
  font-weight: normal; }

@media only screen and (min-width: 768px) {
  .hero__img {
    float: left; } }


/*# sourceMappingURL=app.css.map*/