<div class="hero">
  <img src="<%= static_path(@conn, "/images/raton.png") %>" alt="" class="hero__img">
  <div class="hero__body">
    <h1 class="hero__title">Vous cherchez un développeur web ?</h1>
    <p class="hero__content">
      Ça tombe bien ! Je suis passionné par le web, freelance depuis plus de 8 ans. Si mon profil vous intéresse 
      n'hésitez pas à me contacter ou regardez <a href="<%= work_path(@conn, :index) %>">mes réalisations →</a>
    </p>
  </div>
</div>